<h2>Đồ án mới nhất</h2>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Tên đề tài</th>
            <th>Sinh viên</th>
            <th>Giảng viên</th>
            <th>Kỳ học</th>
            <th>Chi tiết</th>
        </tr>
    </thead>
    <tbody>
        <% doanmoinhat.forEach((data)=>{ %>
            <td><%=data.ten_de_tai%></td>
            <td><%=data.ten_sv%></td>
            <td><%=data.ten_gv%></td>
            <td><%=data.kyhoc%></td>
            <td><a href="" title="Xem chi tiết"><span class="btn fa fa-eye"></span></a></td>
        <% }) %>
    </tbody>
</table>