<div class="features-container section-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 features section-description wow fadeIn">
                <h2>Về chúng tôi</h2>
                <div class="divider-1">
                    <div class="line"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 features-box wow fadeInLeft">
                <div class="row">
                    <div class="col-sm-3 features-box-icon">
                        <i class="fa fa-android"></i>
                    </div>
                    <div class="col-sm-9">
                        <h3>Hỗ trợ màn hình di động</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Ut wisi enim ad minim veniam, quis nostrud.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 features-box wow fadeInLeft">
                <div class="row">
                    <div class="col-sm-3 features-box-icon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <div class="col-sm-9">
                        <h3>Cập nhật dữ liệu liên tục</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Ut wisi enim ad minim veniam, quis nostrud.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 features-box wow fadeInLeft">
                <div class="row">
                    <div class="col-sm-3 features-box-icon">
                        <i class="fa fa-magic"></i>
                    </div>
                    <div class="col-sm-9">
                        <h3>Sử dụng công nghệ tân tiến</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Ut wisi enim ad minim veniam, quis nostrud.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 features-box wow fadeInLeft">
                <div class="row">
                    <div class="col-sm-3 features-box-icon">
                        <i class="fa fa-cloud"></i>
                    </div>
                    <div class="col-sm-9">
                        <h3>Lưu trữ và tìm kiếm nhanh</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Ut wisi enim ad minim veniam, quis nostrud.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>