<!DOCTYPE html>
<html lang="en">

<head>
	<%include layout/header%>
    <style type="text/css" src="/stylesheets/homepage/index.css"></style>
    <script async="" src="/assets/js/Chart_files/analytics.js"></script>
    <script src="/assets/js/Chart_files/Chart.bundle.js"></script>
</head>

<body>
    <!-- Top menu -->
    <%include layout/menu%>
    <!-- Top content -->
    <%include top-content%>
    <div class="container body">
      	<div class="main_container">
			<!-- your code here -->
    		<div class="right_col" role="main">
                <%include thongbaomoi%>
                <%include slide%>
                <%include noibat%>
                <%include khampha%>
			</div>	
			<!-- your code end-->
		</div>
	</div>
    <!-- Features -->
    <%include features%>
	<%include layout/footer%>
    <%include layout/script%>
    <script>
        function openTab(tabName) {
            let i, x;
            x = $(".containerTab");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            $('#'+tabName).fadeIn(1500);
        }
        let coll = $(".collapsible");
        let i;
        coll[0].nextElementSibling.style.maxHeight = coll[0].nextElementSibling.scrollHeight + "px";
        coll[3].nextElementSibling.style.maxHeight = coll[3].nextElementSibling.scrollHeight + "px";
        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                let content = this.nextElementSibling;
                if (content.style.maxHeight){
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                } 
            });
        }
    </script>
    <script src="/assets/js/Chart_files/utils.js"></script>
    <script src="/javascripts/homepage/index.js"></script>
</body>

</html>