<div class="row main wow fadeInDown">
    <div class="row">
        <h1 class="text-center">Khám phá</h1>
        <div class="col-sm-8 features-box wow fadeInRight">
            <div style="width:100%;">
                <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                    <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                        <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                    </div>
                    <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                        <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                    </div>
                </div>
                <canvas id="line" width="1013" height="600" class="chartjs-render-monitor" style="display: block; width: 1013px; height: 506px;"></canvas>
            </div>
        </div>
        <div class="col-sm-4 wow fadeInLeft">
            <div id="container" style="width: 100%;">
                <canvas id="radar" height="200"></canvas>
            </div>
            <div id="container" style="width: 100%;">
                    <canvas id="bar" height="200"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>