<div class="row main">
    <div class="row">
        <div class="col-sm-12 features section-description wow fadeIn">
            <h2>Đồ án nổi bật gần đây</h2>
            <div class="divider-1">
                <div class="line"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 features-box wow fadeInDown">
            <button class="collapsible active">Công nghệ phần mềm</button>
            <div class="content">
                <div class="row">
                    <div class="col-sm-12 table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Tên đề tài</th>
                                    <th>Tác giả</th>
                                </tr>
                            </thead>
                            <tbody id="cnpm">
                                <tr>
                                    <td>1</td>
                                    <td>Build a awesome app with NodeJS</td>
                                    <td>Đàm Minh Tiến</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Build a awesome app with NodeJS</td>
                                    <td>Đàm Minh Tiến</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Build a awesome app with NodeJS</td>
                                    <td>Đàm Minh Tiến</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Build a awesome app with NodeJS</td>
                                    <td>Đàm Minh Tiến</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Build a awesome app with NodeJS</td>
                                    <td>Đàm Minh Tiến</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <button class="collapsible">Hệ thống thông tin</button>
            <div class="content">
                <div class="row">
                    <div class="col-sm-12 table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Tên đề tài</th>
                                    <th>Tác giả</th>
                                </tr>
                            </thead>
                            <tbody id="httt">
                                <tr>
                                    <td>1</td>
                                    <td>Build a awesome app with NodeJS</td>
                                    <td>Đàm Minh Tiến</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Build a awesome app with NodeJS</td>
                                    <td>Đàm Minh Tiến</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Build a awesome app with NodeJS</td>
                                    <td>Đàm Minh Tiến</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Build a awesome app with NodeJS</td>
                                    <td>Đàm Minh Tiến</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Build a awesome app with NodeJS</td>
                                    <td>Đàm Minh Tiến</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <button class="collapsible">Khoa học máy tính</button>
            <div class="content">
                <div class="row">
                    <div class="col-sm-12 table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Tên đề tài</th>
                                    <th>Tác giả</th>
                                </tr>
                            </thead>
                            <tbody id="khmt">
                                <tr>
                                    <td>1</td>
                                    <td>Build a awesome app with NodeJS</td>
                                    <td>Đàm Minh Tiến</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Build a awesome app with NodeJS</td>
                                    <td>Đàm Minh Tiến</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Build a awesome app with NodeJS</td>
                                    <td>Đàm Minh Tiến</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Build a awesome app with NodeJS</td>
                                    <td>Đàm Minh Tiến</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Build a awesome app with NodeJS</td>
                                    <td>Đàm Minh Tiến</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 features-box wow fadeInUp">
            <button class="collapsible active">An toàn thông tin</button>
            <div class="content">
                <div class="row">
                    <div class="col-sm-12 table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Tên đề tài</th>
                                    <th>Tác giả</th>
                                </tr>
                            </thead>
                            <tbody id="attt">
                                <tr>
                                    <td>1</td>
                                    <td>Build a awesome app with NodeJS</td>
                                    <td>Đàm Minh Tiến</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Build a awesome app with NodeJS</td>
                                    <td>Đàm Minh Tiến</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Build a awesome app with NodeJS</td>
                                    <td>Đàm Minh Tiến</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Build a awesome app with NodeJS</td>
                                    <td>Đàm Minh Tiến</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Build a awesome app with NodeJS</td>
                                    <td>Đàm Minh Tiến</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <button class="collapsible">Kỹ thuật máy tính</button>
            <div class="content">
                <div class="row">
                    <div class="col-sm-12 table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Tên đề tài</th>
                                    <th>Tác giả</th>
                                </tr>
                            </thead>
                            <tbody id="ktmt">
                                <tr>
                                    <td>1</td>
                                    <td>Build a awesome app with NodeJS</td>
                                    <td>Đàm Minh Tiến</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Build a awesome app with NodeJS</td>
                                    <td>Đàm Minh Tiến</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Build a awesome app with NodeJS</td>
                                    <td>Đàm Minh Tiến</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Build a awesome app with NodeJS</td>
                                    <td>Đàm Minh Tiến</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Build a awesome app with NodeJS</td>
                                    <td>Đàm Minh Tiến</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <button class="collapsible">Truyền thông và mạng máy tính</button>
            <div class="content">
                <div class="row">
                    <div class="col-sm-12 table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Tên đề tài</th>
                                    <th>Tác giả</th>
                                </tr>
                            </thead>
                            <tbody id="ttmmt">
                                <tr>
                                    <td>1</td>
                                    <td>Build a awesome app with NodeJS</td>
                                    <td>Đàm Minh Tiến</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Build a awesome app with NodeJS</td>
                                    <td>Đàm Minh Tiến</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Build a awesome app with NodeJS</td>
                                    <td>Đàm Minh Tiến</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Build a awesome app with NodeJS</td>
                                    <td>Đàm Minh Tiến</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Build a awesome app with NodeJS</td>
                                    <td>Đàm Minh Tiến</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>