<div class="row">
    <div class="row">
        <div class="col-sm-12 features section-description wow fadeIn">
            <h2>Thông báo mới</h2>
            <div class="divider-1">
                <div class="line"></div>
            </div>
        </div>
    </div>
    <div class="row wow fadeInRight">
        <div class="column" onclick="openTab('b1');">
            <img src="assets/img/SOICT.jpg">
            <p>Thông báo học bổng k62</p>
        </div>
        <div class="column" onclick="openTab('b2');">
            <img src="assets/img/book.jpg">
            <p>Thông báo học bổng k62</p>
        </div>
        <div class="column" onclick="openTab('b3');">
            <img src="assets/img/book1.jpg">
            <p>Thông báo học bổng k62</p>
        </div>
    </div>
    <div class="row">
        <div id="b1" class="containerTab fadeInRight">
            <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
            <h2>Box 1</h2>
            <p>Lorem ipsum dolor sit amet, te quo doctus abhorreant, et pri deleniti intellegat, te sanctus inermis ullamcorper nam. Ius error diceret deseruisse ad</p>
        </div>
        <div id="b2" class="containerTab">
            <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
            <h2>Box 2</h2>
            <p>Lorem ipsum dolor sit amet, te quo doctus abhorreant, et pri deleniti intellegat, te sanctus inermis ullamcorper nam. Ius error diceret deseruisse ad</p>
        </div>
        <div id="b3" class="containerTab">
            <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
            <h2>Box 3</h2>
            <p>Lorem ipsum dolor sit amet, te quo doctus abhorreant, et pri deleniti intellegat, te sanctus inermis ullamcorper nam. Ius error diceret deseruisse ad</p>
        </div>
    </div>
    <div class="row wow fadeInRight">
        <div class="col-sm-3">
            <img src="assets/img/book1.jpg">
            <p>Thông báo học bổng k62</p>
        </div>
        <div class="col-sm-3">
            <img src="assets/img/book1.jpg">
            <p>Thông báo học bổng k62</p>
        </div>
        <div class="col-sm-3">
            <img src="assets/img/book1.jpg">
            <p>Thông báo học bổng k62</p>
        </div>
        <div class="col-sm-3">
            <img src="assets/img/book1.jpg">
            <p>Thông báo học bổng k62</p>
        </div>
        <button type="button" id="moreNoti" class="wow fadeInLeft">Xem thêm >>></button>
    </div>
</div>