<div class="top-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text wow fadeInLeft">
                <h1>Hệ thống quản lý đồ án</h1>
                <div class="description">
                    <p class="medium-paragraph">
                        Viện Công nghệ thông tin và Truyền thông - Đại học Bách Khoa Hà Nội
                    </p>
                </div>
                <div id="div_search_tool">
                    <form method="post" accept-charset="utf-8" action="/search">
		                <div class="input-group">
		                    <input type="text" class="form-control" placeholder="Tìm kiếm" id="inputSearch" name="searchterm">
		                    <div class="input-group-btn">
		                        <button class="btn btn-default" type="submit" id="btnSearch">
		                            <i class="glyphicon glyphicon-search"></i>
		                        </button>
		                    </div>
		                </div>
		            </form>
	        	</div>
            </div>
        </div>
    </div>
</div>