<!DOCTYPE html>
<html>

<head>
    <%include ../admin/layout/header%>
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <%include ../admin/layout/menu%>
                <!-- your code here -->
                <div class="right_col" role="main">
                	<h2 class="text-center">THÊM LIÊN HỆ</h2>
                    <form data-parsley-validate class="form-horizontal form-label-left" action="/giangvien/them" method="post" accept-charset="utf-8">
                        <div class="modal-body row">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="#ma_nn">Mã người nhận<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="ma_nn" required="required" class="form-control col-md-7 col-xs-12" name="ma_nn">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="#ten_nn">Email<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="email" id="email" required="required" class="form-control col-md-7 col-xs-12" name="email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="#sdt">Số điện thoại<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="sdt" required="required" class="form-control col-md-7 col-xs-12" name="sdt">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="#khoavien">Khoa viện<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select name="ma_kv" class="form-control" id="khoavien">
                                    	<% khoavien.forEach((kv,i)=>{ %>
                                    		<option value="<%=kv.ma_kv%>"><%=kv.ten_kv%></option>
                                    	<%});%>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-7"></div>	
                            <div class="form-group">
                            	<button type="reset" class="btn btn-default">Làm mới</button>
                            	<button type="submit" class="btn btn-primary">Xác nhận</button>
                        	</div>
                        </div>
                    </form>
                </div>
                <!-- your code end-->
                <%include ../admin/layout/footer%>
        </div>
    </div>
    <%include ../admin/layout/script%>
</body>

</html>