<!DOCTYPE html>
<html>

<head>
    <%include ../admin/layout/header%>
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <%include ../admin/layout/menu%>
                <!-- your code here -->
                <div class="right_col" role="main">
                	<h2 class="text-center">THÊM SINH VIÊN</h2>
                    <form data-parsley-validate class="form-horizontal form-label-left" action="/sinhvien/them" method="post" accept-charset="utf-8">
                        <div class="modal-body row">
                            <div class="form-group">
                                <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="#ma_sv">Mã sinh viên<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="ma_sv" required="required" class="form-control col-md-7 col-xs-12" name="ma_sv">
                                </div>
                            </div>
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="#ten_sv">Tên sinh viên<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="ten_sv" required="required" class="form-control col-md-7 col-xs-12" name="ten_sv">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="#khoa">Khoa<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="khoa" required="required" class="form-control col-md-7 col-xs-12" name="khoa">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="#lop">Lớp<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="lop" required="required" class="form-control col-md-7 col-xs-12" name="lop">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="#email">Email<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="email" id="email" required="required" class="form-control col-md-7 col-xs-12" name="email">
                                </div>
                            </div>
                            <div class="col-md-7"></div>	
                            <div class="form-group">
                            	<button type="reset" class="btn btn-default">Làm mới</button>
                            	<button type="submit" class="btn btn-primary">Xác nhận</button>
                        	</div>
                        </div>
                    </form>
                </div>
                <!-- your code end-->
                <%include ../admin/layout/footer%>
        </div>
    </div>
    <%include ../admin/layout/script%>
</body>

</html>