<!DOCTYPE html>
<html>
<head>
	<%include header%>
</head>
<body class="nav-md">
    <div class="container body">
      	<div class="main_container">
			<%include menu%>
			<!-- your code here -->
    		<div class="right_col" role="main">
				BKFA
			</div>	
			<!-- your code end-->
			<%include footer%>
		</div>
	</div>
	<%include script%>
</body>
</html>
