<!DOCTYPE html>
<html lang="en">

<head>
    <%include admin/layout/header%>
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet/less" type="text/css" href="stylesheets/login.less" />
</head>

<body class="login">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>
        <div class="login_wrapper animated zoomIn">
            <div class="animate form login_form">
                <section class="login_content">
                    <form method="post" accept-charset="utf-8">
                        <h1>Login Form</h1>
                        <% if (message.length > 0) { %>
                            <div class="alert alert-danger">
                                <%= message %>
                            </div>
                        <%} %>
                        <div>
                            <input type="text" class="form-control" placeholder="Username" required="" name="username" />
                        </div>
                        <div>
                            <input type="password" class="form-control" placeholder="Password" required="" name="password"/>
                        </div>
                        <div>
                            <button class="btn btn-default submit" type="submit">Log in</button>
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">
                            <div>
                                <p>©2018 All Rights Reserved. H2Team - we are awesome. Privacy and Terms</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
    <script src="/template/vendors/jquery/dist/jquery.min.js"></script>
    <script src="assets/js/jquery.backstretch-overlay.min.js"></script>
    <script src="/javascripts/login.js"></script>
    <script src="/javascripts/less.min.js"></script>
</body>

</html>