<!DOCTYPE html>
<html>

<head>
    <%include layout/header%>
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <%include layout/menu%>
                <div class="right_col" role="main">
                    <iframe src='https://husteduvn-my.sharepoint.com/personal/tien_dm156599_sis_hust_edu_vn/_layouts/15/WopiFrame.aspx?sourcedoc={65ffb308-810b-407c-b507-e73beff6e37b}&action=embedview&wdAr=1.7777777777777777' width='100%' height='565px' frameborder='0'>Đây là một tài liệu <a target='_blank' href='https://office.com'>Microsoft Office</a> đã nhúng, được cung cấp bởi <a target='_blank' href='https://office.com/webapps'>Office Online</a>.</iframe>
                    <div id="root"></div>
                </div>
                <%include layout/footer%>
        </div>
    </div>
    <%include layout/script%>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.js" type="text/javascript" charset="utf-8"></script>
        <script>
        $('document').ready(() => {
            $.get('https://raw.githubusercontent.com/damminhtien/project_management/master/README.md', function(data) {
                chuoi = marked(data);
                console.log(chuoi);
                $('#root').html(chuoi);
            }, 'text');
        })
        </script>
</body>

</html>