<footer>
    <div class="container">
        <div class="row">
        	<div class="col-md-4">
        		<h3>SoICT-HUST</h3>
        		<br>
        		<h4 style="text-align: left"><span class="fa fa-phone"></span> (+84) 4 3869 2463</h4>
        		<br>
        		<h4 style="text-align: left"><span class="fa fa-envelope"></span> vp@soict.hust.edu.vn</h4>
        		<br>
        		<h4 style="text-align: left"><span class="fa fa-map-marker"></span> Phòng 504 - Nhà B1 - Đại học BKHN</h4>
        	</div>
        	<div class="col-md-4">
        		<h3>Kết nối với chúng tôi</h3>
        		<br>
        		<button class="btn btn-round btn-primary"><span class="fa fa-facebook-f"></span></button>
        		<button class="btn btn-round btn-info"><span class="fa fa-twitter"></span></button>
        		<button class="btn btn-round btn-danger"><span class="fa fa-google-plus"></span></button>
        	</div>
        	<div class="col-sm-4">
        		<h3>Liên kết ngoài</h3>
        		<br>
        		<a href="http://ts.hust.edu.vn/">Trang thông tin tuyển sinh Đại học BKHN</a><br>
        		<a href="https://soict.org/">Hội nghị quốc tế SoICT 2018</a><br>
        		<a href="http://facebook.com/bkfateam">BKFA TEAM</a><br>
        		<a href="https://soict.hust.edu.vn/msdnaa">Chương trình MSDN-AA</a>
        	</div>
            <div class="col-sm-12 footer-copyright">
                &copy; System project_management ver 1.0.0 by H2T. Contact us <a href="https://github.com/damminhtien/project_management/blob/master/README.md">here</a>
            </div>
        </div>
    </div>
</footer>