<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 footer-copyright">
                &copy; System project_management ver 1.0.0 by H2T. Contact us <a href="https://github.com/damminhtien/project_management/blob/master/README.md">here</a>
            </div>
        </div>
    </div>
</footer>